<%@ page language="java" contentType="text/html; charset=UTF-8" 
    pageEncoding="UTF-8" %>
    <!DOCTYPE html>
    <html>

    <head>
        <title>Simple JSP Example</title>
    </head>

    <body>
        <h2>Welcome to JSP Programming!</h2> 
        <%-- 
        This is a JSP scriptlet block. You can write Java code inside these
            tags (<% ... %>) that runs on the server. 
        --%> 
        <% 
        String greeting="Hello Mlrit!" ; 
        % 
        <p>
                <% 
                out.println(greeting); 
                %>
        </p> 
        <%-- 
        Alternatively, you can also use the expression tag <%=... %> for simpler output: 
        <%= greeting %> 
    --%>
</body>
</html>